# Python
__pycache__/
*.py[cod]
.pytest_cache/

# Virtual environments
venv/
.venv/
env/
fraud_mlops/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log

# Environment / secrets
.env
.env.*

# Data
data/
*.csv

# Docker
docker-compose.override.yml
